.loading {
  max-width: 300px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 30px;
  width: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
  animation: rotate 1s linear infinite;
  -webkit-animation: rotate 1s linear infinite;
}

.squarePiece {
  background-color: #8094bf;
}

.message {
  margin: 0 15px;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}
}