.commonData {
  display: flex;
  justify-content: space-between;
}

.cardStyles {
  position: relative;
  background-color: #4c84d4;
  opacity: .85;
  color: #fff;
}

.details {
  background-color: #4c84d4;
  opacity: .85;
  color: #fff;
}

.error {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background-color: #ffadad;
  border: 2px solid #d13f3f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.error span {
  float: right;
  cursor: pointer;
}

.error p {
  margin: 0;
  color: #ff1414;
}

@media (max-width: 768px) {
  .commonData {
    flex-direction: column;
  }
}