.headerContainer {
  width: 100%;
  background-color: rgba(204, 204, 204, .5);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button {
  border: none;
  border-left: 1px solid #4c84d4;
  color: #2e2e2e;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 4px;
}

button:hover,
button:active {
  background-color: #4c84d4;
  color: #fff;
}

.headerContainer h1 {
  margin: 0;
  color: #2e2e2e;
  font-size: 28px;
  color: #4c84d4;
}

form {
  display: flex;
  align-items: center;
  width: 50%;
}

.control input{
  font-size: 18px;
  padding: 4px;
  border: none;
  /* border-bottom: 1px solid #2e2e2e; */
  outline: none;
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
  }

  .headerContainer h1 {
    font-size: 20px;
  }

  form {
    justify-content: center;
    margin-top: 5px;
  }
}

@media (max-width: 450px) {
  .control input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}